* {
  box-sizing: border-box;
}


.btn-group {padding-top: 3%;}

/* #ulList {display: flex;} */
.reunat {border: 2px solid red;}

.playButton {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    /* padding: 10px 24px; Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 40%; /* Set a width if needed */
   /*display: block;   Make the buttons appear below each other */
     
  }
  .deleteButton { color: red;width: 10%;}
  
   /* {
    border-bottom: none; /* Prevent double borders */
  .btn-group button:not(:last-child) */
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  button.play {
    width: 2em;
    height: 2em;
    border-style: solid;
    /* border-width: 2px; */
    border-color: #202020;
    border-width: 1em 0 1em 2em;
    
    border-color: red blue green yellow;
     
  border-color: red blue green yellow;
  box-sizing: border-box;
   
  /* border-width: 37px 0px 37px 74px; */
  border-color: transparent transparent transparent #202020;
  }

  .recbuttonclass {
    width: 100%;
    height: 35px;
    /* font-size: 0; */
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: auto;
    outline: none;
     
  }
  
  .notRec{
    background-color: darkred;
  }
  
  .Rec{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
  }
#testi {
  width: 2em;
height: 2em;
border-style: solid;
border-width: 2px;
border-color: #202020;
border-width: 1em 0 1em 2em;
border-color: red blue green yellow;
border-color: red blue green yellow;
box-sizing: border-box;
border-width: 37px 0px 37px 74px;
border-color: transparent transparent transparent #202020;
}

#vihreatausta {
    padding-top: 5%;
    /* background-color: green; */
    margin: auto;
    width: 95%;
 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  /* background-color: #555; */
  /* height: 500px; */
  /* color: white; */
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: flex;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  /* background: black; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color:white
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .fa-bars{
  content: "\f0c9";
}

.hamburger {
  width: 3em;
  height: 0.5em;
  background-color: black;
  margin: 0.2em auto;
}

@media only screen and (min-width: 600px) {
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: flex;
    margin:auto;
    width: 60%;
  }
}